//- scrollrolldatepicker structure
#scrollrolldatepicker-hidden-template
    .scrollroll-frame
    .scrollrolldatepicker
        .scrollroll-day-picker
        .separator /
        .scrollroll-month-picker 
        .separator /
        .scrollroll-year-picker 
