include ../scrollrolldatepickermodule/scrollrolldatepicker.pug

#credentialsframe-container
    label#login-birhday-label(for="login-birthday-input") Date of Birth:
    input#login-birthday-input(type="date")
    //- #other-birthday-input dd.mm.yyyy